<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JIMP</title>
  </head>
  <body>
    <ul>
      <% empresas.forEach((empresa, key) => { %>
      <li>
        <%= empresa.nome %>
        <img src="/image/<%=key%>" />
      </li>
      <% }) %>
    </ul>
  </body>
</html>
